/* Reset  */
* {
font-family: "ff-dagny-web-pro", sans-serif;
font-size: 10px;
 padding: 0;
margin: 0;
 }

body { font-size: 1.2em; 
	background: #0678a8;
	}

.wrap { margin-top: 5%;	
	}

h1 { 
	font-size: 30em;
	font-weight: 600;
	margin:0;
	padding:0;

/*	color: #e8ffc4;*/
/*	color: #aff93b*/
	color: #e7ee77;
	letter-spacing: 0em;
/*	text-transform: uppercase;*/
	}
	
.first {
	font-size: 5em;
	position: absolute;
	left: 5%;
	/*color: #441a13;*/
	color: #fc6d56;
		}
	
		
header { text-align: center;
	}
	
#about { text-align: center;
	color: #fdf9f8;
}

#what { font-size: 3em; 
	font-weight: 600;
	text-transform:uppercase;
	letter-spacing:.4em;
	color: #d7d9bf;
	}

#how { font-size: 2em;
	/*color: #13130e;*/
	color: #c9d9d6;
	}
	
section { 
	/*display: none;*/
	color: #fdf9f8;
	
}	

aside { 
	display: none;
	}